{% extends 'base.html.twig' %}

{% block main_top %}
    Welcome
{% endblock %}

{% block main_content %}
    <a href="{{ path('item_home') }}">
        <i class="fa-solid fa-house-blank"/>
        Start tests
    </a>
{% endblock %}
