<form method="post" action="{{ path('stab_delete', {'id': stab.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stab.id) }}">
    <button class="btn">Delete</button>
</form>
