{% extends 'base.html.twig' %}

{% block title %}New Stab{% endblock %}

{% block body %}
    <h1>Create new Stab</h1>

    {{ include('stab/_form.html.twig') }}

    <a href="{{ path('stab_index') }}">back to list</a>
{% endblock %}
